* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}
body {
	min-width: 1010px;
	font-family: 'Times New Roman', serif;
}
.inner {
	width: 1010px;
	margin: 0 auto;	
}
.clear {
	width: 100%;
	height: 0;
	clear: both;
}
/***************
	HEADER
***************/
header {
	height: 137px;
	background: url('../images/top-bg.png') no-repeat 50% 0;
	margin-bottom: 30px;
}
header .inner {
	position: relative;
	height: 137px;
}
.logo, .top-vk, .callback, .phones{
	display: inline-block;
	vertical-align: top;
}
.logo {	
	width: 127px;
	height: 64px;
	background: url('../images/logo.png') no-repeat 0 0;
	margin: 30px 0 0 20px;
	cursor: pointer;
	margin-right: 25px;
}
.top-vk {
	padding-top: 50px;
	margin-right: 10px;
}
.top-vk a {
	display: block;
	width: 31px;
	height: 31px;
	border-radius: 100px;
	transition: opacity 0.25px;
	background: url('../images/top-vk.png') no-repeat 0 0;
}
	.top-vk a:hover {
		opacity: 0.75;
	}
.callback {
	padding-top: 57px;
	margin-right: 15px;
}
.callback a {
	padding: 7px 20px 7px 40px;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 100px;
	background: url('../images/callback-icon.png') no-repeat 12px 5px;
	background-color: #FF00A2;
	transition: opacity 0.25px;
}
.callback a:hover {
	opacity: 0.75;
}
header .phones {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	margin-top: 30px;
	height: 65px;
	border-right: 1px solid #EEEDEE;
	text-align: center;
	padding: 10px 20px;
}
nav {
	height: 54px;
	width: 1010px;
	border-radius: 20px;
	position: absolute;
	bottom: -27px;
	left: 0;
	z-index: 9999;
	background: url('../images/nav-bg.png') repeat-x 0 0;
	box-shadow: 0 1px 3px #C4C2C2;
}
	nav ul {
		font-size: 0;
		line-height: 0;
	}
	nav ul li{
		display: inline-block;
		transition: background-color 0.25s;
	}
		nav ul li:first-child {
			border-radius: 20px 0 0 20px;
		}
		nav ul li:last-child {
			border-radius: 0 20px 20px 0;
		}
		nav ul .border {
			display: inline-block;
			width: 3px;
			height: 54px;
			background: url('../images/nav-after-bg.png') no-repeat 0 0;
			vertical-align: top;
		}
	nav ul li a {
		font-size: 16px;
		line-height: 54px;
		text-transform: uppercase;
		text-decoration: none;
		padding: 20px 21px;
		color: #272127;
		transition: color 0.25s;
	}
	nav ul li:last-child a {
		padding-left: 30px;
	}
	nav ul li:hover, nav ul li.active{
		background-color: #FF00A2;
	}
	nav ul li:hover a, nav ul li.active a {
		color: #FFFFFF;
	}
/***************
	MAIN
***************/
#main {
	
}
.slider {
	position: relative;
}
	.slider-woman {
		position: absolute;
		left: 330px;
		top: 9px;
		height: 426px;
		width: 233px;
		background: url('../images/slider-woman.png') no-repeat 0 0;
		z-index: 9999;
		cursor: pointer;
	}
	.slider-top {
		position: relative;
		height: 375px;
		border-bottom: 2px solid #D1D2D2;
		background: #FFFFFF;
		cursor: pointer;
	}
		.slider-top:before {
			content: "";
			position: absolute;
			z-index: -9999;
			top: 50%;
			bottom: 0;
			left: 20px;
			right: 20px;
			box-shadow: 0 30px 30px #DFDFDF;
			border-radius: 500px / 30px;
		}
	.slider-logo {
		position: absolute;
		width: 212px;
		height: 106px;
		top: 25px;
		left: 15px;
		background: url('../images/slider-logo.png') no-repeat 0 0;
	}
	.slider-slogan {
		position: absolute;
		bottom: 15px;
		left: 15px;
		height: 200px;
		width: 350px;
		padding-top: 150px;
		font-size: 18px;
		background: url('../images/slider-slogan.png') no-repeat 0 0;
	}
	.slider-list {
		position: absolute;
		top: 30px;
		right: 20px;
		width: 380px;
		height: 310px;
	}
		.slider-list div {
			width: 300px;
			text-align: center;
			margin-bottom: 30px;
			line-height: 22px;
		}
		.slider-list ul {
			font-size: 0;
			line-height: 0;
		}
		.slider-list ul li {
			text-indent: 50px;
			font-size: 18px;
			line-height: 33px;
			vertical-align: middle;
			margin-bottom: 5px;
		}
			.slider-list ul li:nth-child(1) {
				background: url('../images/slider-list-1.png') no-repeat 0 0;
			}
			.slider-list ul li:nth-child(2) {
				background: url('../images/slider-list-2.png') no-repeat 0 0;
			}
			.slider-list ul li:nth-child(3) {
				background: url('../images/slider-list-3.png') no-repeat 0 0;
			}
			.slider-list ul li:nth-child(4) {
				background: url('../images/slider-list-4.png') no-repeat 0 0;
			}
			.slider-list ul li:nth-child(5) {
				background: url('../images/slider-list-5.png') no-repeat 0 0;
			}
			.slider-list ul li:nth-child(6) {
				background: url('../images/slider-list-6.png') no-repeat 0 0;
			}
	.slider-bottom {
		height: 320px;
		padding-top: 70px;
		position: relative;
	}
	.slider-bottom:after {
		content: "";
		position: absolute;
		left: 55px;
		bottom: -50px;
		display: block;
		width: 900px;
		height: 30px;
		border-radius: 450px / 30px;
		z-index: -2;
		box-shadow: 0px -35px 10px #DFDFDF;
	}
		.slider-bottom .bonus {
			display: inline-block;
			position: relative;
			width: 249px;
			height: 200px;
			text-align: center;
			padding-top: 125px;
			color: #FF00A2;
			font-size: 22px;
		}
			.slider-bottom .bonus:nth-child(1) {
				background: url('../images/slider-bonus-1.png') no-repeat 50% 25px;
			}
			.slider-bottom .bonus:nth-child(2) {
				background: url('../images/slider-bonus-2.png') no-repeat 50% 25px;
			}
			.slider-bottom .bonus:nth-child(3) {
				background: url('../images/slider-bonus-3.png') no-repeat 50% 25px;
			}
			.slider-bottom .bonus:nth-child(4) {
				background: url('../images/slider-bonus-4.png') no-repeat 50% 25px;
			}
		.slider-bottom .bonus:after {
			content: "";
			position: absolute;
			display: block;
			height: 175px;
			width: 2px;
			top: 0;
			right: 0;
			background: url('../images/slider-bonus-after-bg.png') repeat-y 0 0;
		}
			.slider-bottom .bonus:last-child:after  {
				display: none;
			}
.content {
	padding-top: 40px;
	min-height: 100px;
	background-color: #FFFFFF;
	font-family: "Calibri", sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 22px;
}
	.content article {
		min-height: 210px;
		position: relative;
		margin-bottom: 25px;
		padding-bottom: 50px;
	}
	.content .grey-line {
		height: 2px;
		width: 930px;
		margin: 0 auto;
		background: url(../images/grey-line-bg.png) repeat-x 0 0;
		margin-bottom: 25px;
	}
	.content h2, .content h2 a {
		font-size: 32px;
		color: #FF00A2;
		text-decoration: none;
		font-weight: normal;
		margin-bottom: 20px;
		font-family: 'Times New Roman', serif;
	}
	.content section figure {
		position: absolute;
		top: 50px;
		left: 0;
		width: 210px;
		height: 140px;
	}
	.content section p {
		padding-left: 220px;
	}
	.content section.single p {
		padding-left: 0px;
	}
	.content section .read-more {
		display: block;
		position: absolute;
		right: 40px;
		bottom: 20px;
		width: 110px;
		height: 30px;
		color: #FFFFFF;
		text-decoration: none;
		text-align: center;
		line-height: 30px;
		vertical-align: middle;
		font-size: 16px;
		font-family: 'Times New Roman', serif;
		text-transform: uppercase;
		background-color: #FF00A2;
	}
		.content section .read-more:hover {
			opacity: 0.75;
		}
.pagination span {
	text-transform: uppercase;
	font-family: 'Times New Roman', serif;
}
.pagination ul {
	padding-left: 5px;
}
.pagination ul li {
	margin-right: 5px;
}
.pagination ul, .pagination ul li {
	display: inline-block;
}
.pagination ul a {
	display: block;
	width: 27px;
	height: 27px;
	text-decoration: none;
	line-height: 27px;
	vertical-align: middle;
	text-align: center;
	color: #A2A2A2;
	background: #000000;
	border-radius: 2px;
}
.pagination ul a:hover {
	color: #FFFFFF;
	opacity: 0.75;
}
.pagination ul a.active {
	color: #FFFFFF;
}
/***************
	ОБРАТНЫЙ ЗВОНОК
***************/
#callback {
	padding-top: 20px;
}
#callback label {
	display: inline-block;
	width: 250px;
	margin-right: 30px;
	text-align: right;
	font-family: 'Times New Roman', serif;
	font-size: 22px;
	vertical-align: top;
	padding-top: 8px;
}
#callback input, #callback textarea {
	width: 580px;
	height: 40px;
	border-radius: 4px;
	border: 2px solid #000000;
	margin-bottom: 10px;
	font-size: 22px;
	transition: border-color 0.25s;
}
#callback textarea {
	height: 145px;
	padding-top: 8px;
	resize: none;
	margin-bottom: 30px;
}
	#callback input[type=text]:focus,
	#callback textarea:focus {
		border-color: #6C606C;
	}
#callback a {
	display: block;
	width: 200px;
	height: 55px;
	background: #FF00A2;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	font-family: 'Times New Roman', serif;
	font-size: 22px;
	margin-left: 665px;
	text-decoration: none;
	border-radius: 4px;
}
#callback a:hover {
	opacity: 0.75;
}
/***************
	ЗАКАЗ
***************/
#zakaz table *{
	color: #000000;
	font-size: 20px;
}
#zakaz table{
	margin-bottom: 25px;
}
#zakaz table td {
	vertical-align: middle;
}
#zakaz table input,
#zakaz table img,
#zakaz table span {
	display: inline-block;
	vertical-align: middle;
}
#zakaz table span {
	line-height: 26px;
}
#zakaz table img {
	height: 100px;
}
#zakaz table td {
	padding-top: 20px;
}
#zakaz table th {
	text-align: left;
	padding-top: 20px;
}
#zakaz table .zakaz-summa {
	color: #FC009A;
	font-size: 32px;
	font-weight: bold;
}
#zakaz table .zakaz-value {
	width: 82px;
	height: 25px;
	border: 1px solid #000000;
	text-align: right;
}
#zakaz table input[type=checkbox], #zakaz table input[type=radio] {
	display: none;
}
#zakaz table .complex {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../images/unchecked.png') no-repeat 0 0;
}
#zakaz table input[type=checkbox]:checked + .complex {
	background: url('../images/checked.png') no-repeat 0 0;
}
#zakaz .hr {
	background-color: #000000;
	height: 2px;
	width: 590px;
	margin-bottom: 20px;
}
#zakaz .bonus {
	color: #000000;
	font-size: 18px;
	height: 26px;
}
#zakaz .zakaz-form {
	height: 42px;
	width: 590px;
	border: 2px solid #000000;
	border-radius: 4px;
	margin-bottom: 25px;
	padding-left: 20px;
	line-height: 42px;
	vertical-align: middle;
	color: #000000;
	font-size: 0;
}
#zakaz .zakaz-form > label {
	font-size: 18px;
	padding-right: 6px;
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	display: inline-block;
}
#zakaz .zakaz-form > input {
	width: 460px;
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	box-shadow: none;
	border: none;
	outline: none;
}
#zakaz .options {
	padding-left: 25px;
	color: #000000;
	font-size: 18px;
	height: 26px;
	background: url('../images/checked.png') no-repeat 0 0;
}
#zakaz input[type=radio] {
	display: none;
}
#zakaz .sposob-oplaty {
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	color: #000000;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 35px;
	background: url('../images/unchecked.png') no-repeat 0 3px;
}
#zakaz input[type=radio]:checked + .sposob-oplaty {
	background: url('../images/checked.png') no-repeat 0 3px;
}
#zakaz #zakaz-submit {
	display: block;
	height: 55px;
	width: 200px;
	text-align: center;
	line-height: 55px;
	vertical-align: middle;
	color: #FFFFFF;
	background: #FC009A;
	text-decoration: none;
	border-radius: 4px;
	font-size: 18px;
}
#zakaz #zakaz-submit:hover {
	opacity: 0.75;
}
#zakaz .zakaz-result {
	position: absolute;
	left: 278px;
	bottom: 16px;
	height: 75px;
	border: 2px solid green;
	border-radius: 4px;
	width: 360px;
	color: green;
	padding: 5px;
	text-align: center;
	font-size: 20px;
	display: none;
}
#zakaz li {
	list-style: circle;
}
/***************
	COMMENTS
***************/
#comments {
	position: relative;
	min-height: 370px;
}
.commentlist {
	width: 1010px;
}
#comments .comment-meta,
#comments .reply,
#comments a.next,
#comments a.prev,
#comments .comment-notes
 {
	display: none;
}
.commentlist .comment p {
	background: #FFFFFF;
	padding: 10px;
	display: inline-block;
	width: 780px;
	margin-bottom: 25px;
	color: #000000;
	font-size: 18px;
	line-height: 22px;
}
.commentlist .comment .comment-author {
	height: 46px;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 50px;
	font-size: 24px;
	white-space:  nowrap;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
	margin-bottom: 5px;
	color: #FC009A;
}
#respond {
	position: absolute;
	width: 230px;
	top: 0;
	right: 0;
	color: #18749D;
	border-bottom: 2px solid #EAEAEA;
	box-shadow: 0 5px 5px #EAEAEA;
}
#respond h3 {
	display: block;
	height: 55px;
	background: url('../images/respond-top-bg.png') no-repeat 0 0;
	color: #FFFFFF;
	line-height: 55px;
	vertical-align: middle;
	text-align: center;
}
#commentform {
	background: #FFFFFF;
	min-height: 280px;
	padding: 20px;
}
	#commentform label,
	#commentform input,
	#commentform textarea {
		display: block;
		padding-left: 4px;
		transition: border-color 0.25s;
	}
	#commentform label {
		padding-left: 10px;
		margin-bottom: 6px;
	}
	#commentform input[type=text], #commentform textarea {
		height: 25px;
		width: 190px;
		border: 2px solid #EAEAEA;
		margin-bottom: 10px;
	}
	#commentform textarea {
		padding-top: 2px;
		height: 80px;
		resize: none;
		margin-bottom: 20px;
	}
	#commentform #submit {
		width: 110px;
		height: 30px;
		color: #FFFFFF;
		background-color: #FF02A3;
		font-size: 16px;
		cursor: pointer;
		margin-left: 80px;
		transition: opacity 0.25s;
	}
	#commentform #submit:hover {
		opacity: 0.75;
	}
#comments .page-numbers {
	display: inline-block;
	width: 27px;
	height: 27px;
	text-decoration: none;
	line-height: 27px;
	vertical-align: middle;
	text-align: center;
	color: #A2A2A2;
	background: #000000;
	border-radius: 2px;
}
#comments .page-numbers:hover {
	color: #FFFFFF;
	opacity: 0.75;
}
#comments .current {
	color: #FFFFFF;
}
/***************
	FOOTER
***************/
footer {
	height: 155px;
	background: url('../images/bottom-bg.png') no-repeat 50% 0;
}
.footer-left {
	width: 550px; 
	float: left;
	padding-top: 35px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 26px;
}
	.footer-left a {
		text-decoration: none;
		color: #FF00A2;
		font-size: 20px;
		line-height: 24px;
	}
.footer-right {
	width: 460px;
	float: right;
	padding-top: 35px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	position: relative;
}
	.footer-right .po-voprosam {
		width: 150px;
		text-align: right;
	}
	.footer-right .phones {
		position: absolute;
		top: 35px;
		right: 80px;
	}
	.footer-right .strelka {
		position: absolute;
		top: 40px;
		right: 10px;
		width: 0;
		height: 0;
		border-bottom: 25px solid #FFFFFF;
		border-left: 13px solid transparent;
		border-right: 13px solid transparent;
		cursor: pointer;
	}